<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .container {
            margin-top: 20px;
        }
        .product-image {
            max-width: 100%;
        }
    </style>
</head>

<body>
  {% extends "base.html" %}

{% block title %}Produto{% endblock %}

{# ajusta a variáveis conforme novo ou edit #}
{% set id = result[0].id_produto if result else '0' %}
{% set nome = result[0].nome if result else '' %}
{% set descricao = result[0].descricao if result else '' %}
{% set valor_unitario = result[0].valor_unitario if result else '' %}
{% set foto = result[0].foto if result else '' %}
{% block content %}

    <div class="container">
        <div class="p-4 bg-light border rounded">
          <h1 class="mb-4">Cadastro de Produto</h1>
          <div class="form-group row">
            <form name="formAdicionarProduto" id="formAdicionarProduto" action="{{ url_for('produto.insert') }}" method="POST" enctype="multipart/form-data">
              <div class="form-group row">
      
                <label for="id" class="col-sm-2 col-form-label">Código</label>
                <div class="col-sm-2">
                  <input type="text" name="id" id="id" value="0" placeholder="Código" readonly class="form-control">
                </div>
      
              </div>
              <div class="form-group row">
      
                <label for="nome" class="col-sm-2 col-form-label">Nome</label>
                <div class="col-sm-4">
                  <input type="text" name="nome" id="nome" value="" placeholder="Nome" maxlength="100" autofocus required
                    class="form-control">
                </div>
      
                <label for="foto" class="col-sm-2 col-form-label">Foto</label>
                <div class="col-sm-4">
                  <input type="file" name="foto" id="foto" accept="image/*" class="form-control-file">
                </div>
      
              </div>
              <div class="form-group row">
      
                <label for="descricao" class="col-sm-2 col-form-label">Descrição</label>
                <div class="col-sm-4">
                  <textarea name="descricao" id="descricao" rows="4" placeholder="Descrição do Produto" class="form-control"
                    required></textarea>
                </div>
      
                <label for="valor" class="col-sm-2 col-form-label">Valor Unitário</label>
                <div class="col-sm-4">
                  <input type="number" step="0.01" min="0" name="valor_unitario" id="valor_unitario" value="" placeholder="Valor (R$)" required
                    class="form-control">
                </div>
      
              </div>
              <div class="form-group row">
                <div class="col-sm-4 offset-sm-2">
                  <button type='submit' name='salvaProdutoDB' id='salvaProdutoDB' class="btn btn-primary"><i
                      class='fas fa-save'></i> Salvar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endblock %}

    {% block js %}
  <script>
 

  // JS-Ajax para adicionar
  $('#formAdicionar').submit(function (e) {
    e.preventDefault(); // parar o envio para poder fazer manualmente
    var form = $('#formAdicionar')[0]; // captura o form
    var data = new FormData(form); // cria o FormData {Object}
    $.ajax({
      type: "POST", enctype: 'multipart/form-data', url: "{{url_for('produto.insert')}}", data: data,
      processData: false, // impedir que o jQuery transforme a "data" em querystring
      contentType: false, // desabilitar o cabeçalho "Content-Type"
      cache: false, // desabilitar o "cache"
      timeout: 600000, // definir um tempo limite (opcional)
      // manipular o retorno da requisição
      success: function (data) {
        if (!data.erro) {
          Swal.fire({
            title: '', text: 'ID' + data.msg.id + ', ' + data.msg.msg, icon: 'success', showCancelButton: false, confirmButtonColor: '#3085d6',
cancelButtonColor: '#d33', confirmButtonText: 'OK'
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.replace($SCRIPT_ROOT + "{{ url_for('produto.formListaProduto') }}");
            }
          });
          }
          else {
            Swal.fire(data.msgErro.msg, data.msgErro.erro, "error");
          }
      },
      // manipular erros da requisição
      error: function (e) {
        console.log(e);
      }
    }) // fim execução ajax
  }) // fim função evento submit

      // incluir aqui a opção para editar
      // JS-Ajax para editar
  $('#formEditar').submit(function (e) {
    e.preventDefault(); // parar o envio para poder fazer manualmente
    var form = $('#formEditar')[0]; // captura o form
    var data = new FormData(form); // cria o FormData {Object}

    // caso queira adicionar campos extras ao FormData
    // data.append("customfield", "Este é um campo extra para teste");
    $.ajax({
      type: "POST", enctype: 'multipart/form-data', url: "{{url_for('produto.edit')}}", data: data,
      processData: false, // impedir que o jQuery tranforma a "data" em querystring
      contentType: false, // desabilitar o cabeçalho "Content-Type"
      cache: false, // desabilitar o "cache"
      timeout: 600000, // definir um tempo limite (opcional)
      // manipular o retorno da requisição
      success: function (data) {
        if (!data.erro) {
          Swal.fire({
          title: '',
          text: 'ID' + data.msg.id + ', ' + data.msg.msg, icon: 'success', showCancelButton: false, confirmButtonColor: '#3085d6',
cancelButtonColor: '#d33', confirmButtonText: 'OK'
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.replace($SCRIPT_ROOT + "{{ url_for('produto.formListaProduto') }}");
            }
          })
        }
        else {
          Swal.fire(data.msgErro.msg, data.msgErro.erro, "error");
        }
      },
      // manipular erros da requisição
      error: function (e) {
        console.log(e);
      }
    })
  })
  </script>
{% endblock %}
</body>
</html>