<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">

    <title>Produtos</title>

</head>

<body>
    {% extends "base.html" %}
    {% block title %}PRODUTOS{% endblock %}
    {% block content %}
    <form name="formAdicionar" id="formAdicionar" action="" method="POST">
        <h1>PRODUTOS</h1>
        <input type="text" name="valor_unitario" id="valor_unitario" value="" placeholder="valor unitario" readonly>
        <label for="id">valor</label>
        <br>
        <br>
        <input type="text" name="nome" id="nome" value="" placeholder="nome  do produto" maxlength="100" autofocus
            required>
        <label for="nome">Nome do Produto</label>
        <br>
        <br>
        <input type="text" name="descricao" id="descricao" value="" placeholder="descricao" maxlength="150" required>
        <label for="descricao">descricao</label>
        <br>
        <br>
        <button type="button" name="escolher_foto" id='escolher_foto'>escolher foto</button>
        <br>
        <br>
        <button type='submit' name='salvaUsuarioDB' id='salvaUsuarioDB'><i class='fas fa-save'></i> Salvar</button>
    </form>
    {% endblock %}
</body>