<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <title>HOME</title>
    <style>
        .titulo {
            color: rgb(10, 23, 34);
            text-align: center;
            font-size: xx-large;
            font-family: fantasy, Geneva, Tahoma, sans-serif;
        }
    </style>
</head>
{% extends "base.html" %}

<body style="background-color: darkslategrey;">
    {% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
<h4 class="titulo">Bem vindo ao site</h4>
<br><br><br><br><br>
    {% endblock %}
</div>
</body>

</html>